<% include ../partials/header %>

<% if(message.length > 0) { %>
    <div class="container">
        <div class="alert alert-success"><%= message %></div>
    </div>
<% } %>

<div class="container">
    <% if(ideas.length){ %>
        <% ideas.forEach(idea => { %>
            <div class="card card-body mb-3">
                <h4><%= idea.title %></h4>
                <p><%= idea.detail %></p>
                <a href="/ideas/<%= idea.id %>/edit" class="btn btn-dark mb-1">Edit</a>
                <form method="post" action="/ideas/<%= idea.id %>?_method=DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <button href="/ideas/<%= idea.id %>/delete" class="btn btn-danger btn-block">Delete</button>
                </form>
            </div>
        <% }) %>
    <% } else { %>
        <div class="container">
            <p>No video ideas listed. <a href="/ideas/new">Add Video ?</a></p>
        </div>
    <% } %>
</div>

<% include ../partials/footer %>
